// Colors
$primary: #1c6e8c; //-- Dark Blue
$secondary: #48b082; //-- Green
$tertiary: #30323d; //-- Off-Black
$info: #f46036; //-- Orange
$success: #00ff21;
$error: #FF220C; //-- Red
$progress: #ffd800;
$gray-800: #343a40;

// Fonts
$font-family-base: "Oswald", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-headings: "Playfair Display", serif;